.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .gh {
  color: #999999;
}
.highlight .sr {
  color: #f6aa11;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .c, .highlight .cd {
  color: #75715e;
}
.highlight .err {
  color: #960050;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gd {
  color: #49483e;
}
.highlight .gi {
  color: #49483e;
}
.highlight .ge {
  color: #49483e;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .kt {
  color: #66d9ef;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}
.highlight .sc {
  color: #ae81ff;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .ss {
  color: #ae81ff;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf {
  color: #a6e22e;
}
.highlight .vc {
  color: #ffffff;
}
.highlight .nn {
  color: #ffffff;
}
.highlight .nl {
  color: #ffffff;
}
.highlight .ni {
  color: #ffffff;
}
.highlight .bp {
  color: #ffffff;
}
.highlight .vg {
  color: #ffffff;
}
.highlight .vi {
  color: #ffffff;
}
.highlight .nv {
  color: #ffffff;
}
.highlight .w {
  color: #ffffff;
}
.highlight {
  color: #ffffff;
}
.highlight .n, .highlight .py, .highlight .nx {
  color: #ffffff;
}
.highlight .ow {
  color: #f92672;
}
.highlight .nt {
  color: #f92672;
}
.highlight .k, .highlight .kv {
  color: #f92672;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp {
  color: #f92672;
}
.highlight .o {
  color: #f92672;
}

// .highlight table td { padding: 5px; }
// .highlight table pre { margin: 0; }
// .highlight, .highlight .w {
//   color: #fbf1c7;
//   background-color: #282828;
// }
// .highlight .err {
//   color: #fb4934;
//   background-color: #282828;
//   font-weight: bold;
// }
// .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
//   color: #928374;
//   font-style: italic;
// }
// .highlight .cp {
//   color: #8ec07c;
// }
// .highlight .nt {
//   color: #fb4934;
// }
// .highlight .o, .highlight .ow {
//   color: #fbf1c7;
// }
// .highlight .p, .highlight .pi {
//   color: #fbf1c7;
// }
// .highlight .gi {
//   color: #b8bb26;
//   background-color: #282828;
// }
// .highlight .gd {
//   color: #fb4934;
//   background-color: #282828;
// }
// .highlight .gh {
//   color: #b8bb26;
//   font-weight: bold;
// }
// .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
//   color: #fb4934;
// }
// .highlight .kc {
//   color: #d3869b;
// }
// .highlight .kt {
//   color: #fabd2f;
// }
// .highlight .kd {
//   color: #fe8019;
// }
// .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
//   color: #b8bb26;
//   font-style: italic;
// }
// .highlight .si {
//   color: #b8bb26;
//   font-style: italic;
// }
// .highlight .sr {
//   color: #b8bb26;
//   font-style: italic;
// }
// .highlight .se {
//   color: #fe8019;
// }
// .highlight .nn {
//   color: #8ec07c;
// }
// .highlight .nc {
//   color: #8ec07c;
// }
// .highlight .no {
//   color: #d3869b;
// }
// .highlight .na {
//   color: #b8bb26;
// }
// .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
//   color: #d3869b;
// }
// .highlight .ss {
//   color: #83a598;
// }
